*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  color: rgb(255, 5, 5);
  padding-bottom: 6px;
}

.container img{
  border: 4px solid green;
  border-radius: 50%;
}

.container p{
  padding-top: 2px;
}

img{
 width: 200px;
 height: auto;
}

#Profile-link {
  padding: 20px 10px;
}

#Profile-link a {
  color: #6495ED;
  padding: 5px 10px;
  text-decoration: none;
}
#Profile-link a:hover{
  color: rgb(255, 0, 0);
  background-color: rgba(0, 0, 0, 0.171);
}

#about h2{
  color: #cc00ff;
  font-style: italic;
  text-align: center;
  padding: 5px 0;
}

#about p {
  color: rgb(0, 0, 0);
  text-align: justify;
  background-color: #00000011;
  margin-bottom: 10px;
  padding: 5px;
}

article a {
  color: green;
  margin-right: 8px;
  text-decoration: none;
}
article a:hover{
    color: rgb(195, 0, 255);
    border-bottom: 5px;
}

#pl h2 {
  color: #cc00ff;
  font-style: italic;
  margin: 10px 0 10px 0px;
}

#pl article{
  padding-left: 5px;
}

#pl li {
  color: blue;
}

#pl blockquote {
  text-align:center;
  background-color: #00000011;
  padding: 4px;
}
#pl article{
  padding-bottom: 10px;
}

#study h2 {
  text-align: center;
}



section .study-info {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-content: center;
  margin: 10px;
}

#study .primary {
  padding: 10px;
  background-color: #00000011;
}

#study .high-school {
  padding: 10px;
  background-color: #00000011;
}

#study .college {
  padding: 10px;
  background-color: #00000011;
}
#study .versity {
  padding: 10px;
  background-color: #00000011;
}

#ff {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ff input[type="submit"], input[type="clear"] {
      margin-top: 5px;
}

footer {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  background-color: #cc00ff;
  padding: 10px 0;
  margin: 5px;
}
